{
  "overrides": [
    {
      "files": "**/*.svelte",
      "options": {
        "parser": "svelte"
      }
    }
  ],
  "semi": true,
  "useTabs": false,
  "printWidth": 80,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSameLine": false,
  "arrowParens": "avoid"
}